# Ignore all files
/*

# Except these directories
!.gitignore
!/bottom
!/dunst
!/fish
!/hypr
!/kitty
!/neofetch
!/ranger
!/waybar

# Don't include specific files
/waybar/style_old.css
/waybar/config_old
fish/fish_variables
