/*
based on https://github.com/jakehamilton/dotfiles/
catppuccin colour scheme from https://github.com/catppuccin/waybar
TODO: make icons look better
hide Hyprland window when empty
*/

@import "macchiato.css";

* {
	border: none;
	border-radius: 0;
	font-family: Jet Brains Mono;
	font-size: 16px;
	min-height: 20px;
}

window#waybar {
	background: transparent;
  margin: 0 20px 0 20px;
}

window#waybar.hidden {
	opacity: 0.2;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
}

#workspaces {
	font-size: 34px;
	margin-top: 12px;
	margin-left: 20px;
	margin-bottom: 0px;
	border-radius: 10px;
	background: @base;
	transition: none;
}

#workspaces button {
	transition: none;
	color: @text;
	background: transparent;
}

#workspaces button.active {
	color: @mauve;
}

#window {
    margin-top: 12px;
    padding-left: 10px;
    padding-right: 10px;
	border-radius: 10px;
	transition: none;
    color: @text;
	background: @base;
}

#window.empty {
	background: transparent;
}

#tray {
	margin-top: 12px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
  	background: @base;
}

#network {
	margin-top: 12px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	color: @text;
	background: @base;
}

#pulseaudio {
	color: @text;
	background: @base;
	margin-top: 12px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

#pulseaudio.muted {
    background-color: @base;
    color: @text;
}

#battery {
	margin-top: 12px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	color: @text;
	background: @base;
}

#clock {
	margin-top: 12px;
	margin-left: 8px;
	margin-right: 20px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	color: @text;
	background: @base;
}
